# __Python - BANA8090 Spring 2020 Final Project__

Vidhi Bansal, Individual Final Project Submission

## __Project Description__

Diabetes prediction with demographic features and body measurements

In [3]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as matplot
import re
import sklearn
import warnings
warnings.filterwarnings("ignore")
%matplotlib inline

In [4]:
labs = pd.read_csv('labs.csv')
examination = pd.read_csv('examination.csv')
demography = pd.read_csv('demographic.csv')
diet = pd.read_csv('diet.csv')
questionnaire = pd.read_csv('questionnaire.csv')

In [7]:
labs.head()

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
0,73557,4.3,4.3,39.0,3447.6,11.03,NaN,NaN,NaN,4.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.0,386.7
1,73558,153.0,153.0,50.0,4420.0,306.00,NaN,NaN,NaN,4.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507.0,374.2
2,73559,11.9,11.9,113.0,9989.2,10.53,142196.890197,57.0,0.57,3.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,732.0,540.2
3,73560,16.0,16.0,76.0,6718.4,21.05,NaN,NaN,NaN,NaN,...,0.062,0.0,0.238,0.0,0.0071,0.0,NaN,3.83,NaN,NaN
4,73561,255.0,255.0,147.0,12994.8,173.47,142266.006548,92.0,0.92,4.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,166.1

In [10]:
labs.shape

(9813, 424)

In [8]:
examination.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPAARM,BPACSZ,BPXPLS,BPXPULS,BPXPTY,...,CSXLEAOD,CSXSOAOD,CSXGRAOD,CSXONOD,CSXNGSOD,CSXSLTRT,CSXSLTRG,CSXNART,CSXNARG,CSAEFFRT
0,73557,1,620.0,NaN,NaN,1.0,4.0,86.0,1.0,1.0,...,2.0,1.0,1.0,1.0,4.0,62.0,1.0,NaN,NaN,1.0
1,73558,1,766.0,NaN,NaN,1.0,4.0,74.0,1.0,1.0,...,3.0,1.0,2.0,3.0,4.0,28.0,1.0,NaN,NaN,1.0
2,73559,1,665.0,NaN,NaN,1.0,4.0,68.0,1.0,1.0,...,2.0,1.0,2.0,3.0,4.0,49.0,1.0,NaN,NaN,3.0
3,73560,1,803.0,NaN,NaN,1.0,2.0,64.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,1,949.0,NaN,NaN,1.0,3.0,92.0,1.0,1.0,...,3.0,1.0,4.0,3.0,4.0,NaN,NaN,NaN,NaN,1.0

In [11]:
examination.shape

(9813, 224)

In [9]:
demography.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,73557,8,2,1,69,NaN,4,4,1.0,NaN,...,3.0,4.0,NaN,13281.237386,13481.042095,1,112,4.0,4.0,0.84
1,73558,8,2,1,54,NaN,3,3,1.0,NaN,...,3.0,1.0,1.0,23682.057386,24471.769625,1,108,7.0,7.0,1.78
2,73559,8,2,1,72,NaN,3,3,2.0,NaN,...,4.0,1.0,3.0,57214.803319,57193.285376,1,109,10.0,10.0,4.51
3,73560,8,2,1,9,NaN,3,3,1.0,119.0,...,3.0,1.0,4.0,55201.178592,55766.512438,2,109,9.0,9.0,2.52
4,73561,8,2,2,73,NaN,3,3,1.0,NaN,...,5.0,1.0,5.0,63709.667069,65541.871229,2,116,15.0,15.0,5.00

In [12]:
demography.shape

(10175, 47)

In [13]:
diet.head()

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,DRD370QQ,DRD370R,DRD370RQ,DRD370S,DRD370SQ,DRD370T,DRD370TQ,DRD370U,DRD370UQ,DRD370V
0,73557,16888.327864,12930.890649,1,49.0,2.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,73558,17932.143865,12684.148869,1,59.0,2.0,2.0,4.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0
2,73559,59641.812930,39394.236709,1,49.0,2.0,2.0,18.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,73560,142203.069917,125966.366442,1,54.0,2.0,2.0,21.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,73561,59052.357033,39004.892993,1,63.0,2.0,2.0,18.0,1.0,1.0,...,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN,2.0

In [14]:
diet.shape

(9813, 168)

In [23]:
questionnaire.head()

,SEQN,ACD011A,ACD011B,ACD011C,ACD040,ACD110,ALQ101,ALQ110,ALQ120Q,ALQ120U,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
0,73557,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,3.0,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
1,73558,1.0,NaN,NaN,NaN,NaN,1.0,NaN,7.0,1.0,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
2,73559,1.0,NaN,NaN,NaN,NaN,1.0,NaN,0.0,NaN,...,NaN,NaN,180.0,190.0,70.0,228.0,35.0,NaN,NaN,NaN
3,73560,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0
4,73561,1.0,NaN,NaN,NaN,NaN,1.0,NaN,0.0,NaN,...,NaN,NaN,150.0,135.0,67.0,170.0,60.0,NaN,NaN,NaN

In [16]:
questionnaire.shape

(10175, 953)

In [58]:
final = pd.merge(labs,examination, on ='SEQN',how='inner')

In [59]:
final = pd.merge(final,demography, on='SEQN', how='inner')

In [60]:
final = pd.merge(final,diet, on='SEQN', how='inner')

In [61]:
final = pd.merge(final,questionnaire, on='SEQN', how='inner')

In [62]:
final.shape

(9813, 1812)

We have 9813 records and 1812 variables.

## __Summary Statistics__

In [63]:
final.describe()

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
count,9813.000000,8052.000000,8052.000000,8052.000000,8052.000000,8052.000000,3329.000000,3145.000000,3145.000000,6553.000000,...,14.0,28.0,4064.000000,4870.000000,2688.000000,5914.000000,5836.000000,1478.000000,1478.000000,1478.000000
mean,78644.559971,41.218854,41.218854,121.072529,10702.811525,41.905695,78917.195254,85.898569,0.858986,4.282085,...,35.0,40.0,400.188238,553.871663,367.752976,311.741123,553.798492,2.583221,2.299729,1.746955
std,2938.592266,238.910226,238.910226,78.574882,6946.019595,276.261093,71088.020067,25.595258,0.255953,0.343649,...,0.0,0.0,1471.400188,1943.995173,1700.211868,1060.053377,7148.984994,0.784612,1.213281,0.709430
min,73557.000000,0.210000,0.210000,5.000000,442.000000,0.210000,0.000000,20.000000,0.200000,2.400000,...,35.0,40.0,75.000000,55.000000,50.000000,85.000000,10.000000,1.000000,1.000000,1.000000
25%,76092.000000,4.500000,4.500000,60.000000,5304.000000,5.020000,33217.405018,68.000000,0.680000,4.100000,...,35.0,40.0,140.000000,125.000000,63.000000,155.000000,25.000000,3.000000,1.000000,1.000000
50%,78643.000000,8.400000,8.400000,106.000000,9370.400000,7.780000,56397.702304,84.000000,0.840000,4.300000,...,35.0,40.0,165.000000,150.000000,66.000000,185.000000,38.000000,3.000000,2.000000,2.000000
75%,81191.000000,17.625000,17.625000,163.000000,14409.200000,15.295000,99356.561999,101.000000,1.010000,4.500000,...,35.0,40.0,197.000000,180.000000,70.000000,225.000000,53.000000,3.000000,3.000000,2.000000
max,83731.000000,9600.000000,9600.000000,659.000000,58255.600000,9000.000000,395978.465792,234.000000,2.340000,5.600000,...,35.0,40.0,9999.000000,9999.000000,9999.000000,9999.000000,99999.000000,9.000000,9.000000,9.000000

In [64]:
final.columns

Index(['SEQN', 'URXUMA', 'URXUMS', 'URXUCR.x', 'URXCRS', 'URDACT',
       'WTSAF2YR.x', 'LBXAPB', 'LBDAPBSI', 'LBXSAL',
       ...
       'WHD080U', 'WHD080L', 'WHD110', 'WHD120', 'WHD130', 'WHD140', 'WHQ150',
       'WHQ030M', 'WHQ500', 'WHQ520'],
      dtype='object', length=1812)

In [65]:
#Missing values analysis

In [66]:
missing_values = final.isnull().sum()

In [67]:
(missing_values/len(final))*100

SEQN         0.000000
URXUMA      17.945582
URXUMS      17.945582
URXUCR.x    17.945582
URXCRS      17.945582
              ...
WHD140      39.733007
WHQ150      40.527871
WHQ030M     84.938347
WHQ500      84.938347
WHQ520      84.938347
Length: 1812, dtype: float64

In [68]:
#After referring to data dictionary, renaming some columns for easier understanding

In [69]:
final = final.rename(columns = {'SEQN' : 'UID',
                          'RIAGENDR' : 'Gender',
                          'DMDYRSUS' : 'Years_in_US',
                          'INDFMPIR' : 'Family_income',
                          'LBXGH' : 'Haemoglobin',
                          'BMXARMC' : 'ArmCircum',
                          'BMDAVSAD' : 'SaggitalAbdominal',
                          'MGDCGSZ' : 'GripStrength',
                          'DRABF' : 'Breast_fed',
                               'RIDAGEYR': 'Age',
                               'DR1TCARB':'Carbohydrate_intake',
                               'DR1TCHOL':'Cholestrol',
                               'DR1TSUGR':'Total_sugar'})

In [39]:
#Subsetting the dataset with the columns of interest

In [71]:
final = final.loc[:, ['UID', 'Gender', 'Years_in_US', 'Family_income','Haemoglobin', 'ArmCircum', 
                'SaggitalAbdominal', 'GripStrength', 'Breast_fed','Age','Carbohydrate_intake','Cholestrol','Total_sugar']]

In [72]:
final.isnull().sum()

UID                       0
Gender                    0
Years_in_US            7961
Family_income           730
Haemoglobin            3170
ArmCircum               512
SaggitalAbdominal      2595
GripStrength           2136
Breast_fed             1152
Age                       0
Carbohydrate_intake    1282
Cholestrol             1282
Total_sugar            1282
dtype: int64

In [73]:
#Since Years_in_US has high percentage of missing values, imputing values or removing NA's will impact our analysis. So Years_in_US is not taken account for further anlaysis.

In [74]:
final = final.loc[:, ['UID', 'Gender', 'Family_income','Haemoglobin', 'ArmCircum', 
                'SaggitalAbdominal', 'GripStrength', 'Breast_fed','Age','Carbohydrate_intake','Cholestrol','Total_sugar']]

In [75]:
final.head()

,UID,Gender,Family_income,Haemoglobin,ArmCircum,SaggitalAbdominal,GripStrength,Breast_fed,Age,Carbohydrate_intake,Cholestrol,Total_sugar
0,73557,1,0.84,13.9,35.3,20.6,55.2,2.0,69,239.59,209.0,176.47
1,73558,1,1.78,9.1,34.7,24.4,61.5,2.0,54,423.78,2584.0,44.99
2,73559,1,4.51,8.9,33.5,25.6,91.0,2.0,72,224.39,88.0,102.90
3,73560,1,2.52,NaN,21.0,14.9,32.2,2.0,9,162.92,187.0,80.58
4,73561,2,5.00,4.9,25.2,NaN,30.9,2.0,73,178.20,41.0,87.78

In [77]:
final.describe()

,UID,Gender,Family_income,Haemoglobin,ArmCircum,SaggitalAbdominal,GripStrength,Breast_fed,Age,Carbohydrate_intake,Cholestrol,Total_sugar
count,9813.000000,9813.000000,9083.000000,6643.000000,9301.000000,7218.000000,7677.000000,8661.000000,9813.000000,8531.000000,8531.000000,8531.000000
mean,78644.559971,1.507694,2.248930,5.642556,28.485765,21.114034,63.054891,1.984528,31.629573,242.737141,262.368655,109.302640
std,2938.592266,0.499966,1.629325,1.004850,7.961971,4.963949,25.098439,0.123426,24.397553,123.956800,233.579131,73.340526
min,73557.000000,1.000000,0.000000,3.500000,10.400000,10.100000,8.000000,1.000000,0.000000,8.670000,0.000000,0.130000
25%,76092.000000,1.000000,0.880000,5.200000,22.600000,17.300000,45.600000,2.000000,10.000000,158.720000,107.000000,61.180000
50%,78643.000000,2.000000,1.700000,5.400000,29.300000,20.700000,60.300000,2.000000,27.000000,223.300000,193.000000,93.980000
75%,81191.000000,2.000000,3.580000,5.800000,34.000000,24.400000,80.700000,2.000000,52.000000,301.165000,352.000000,138.720000
max,83731.000000,2.000000,5.000000,17.500000,59.400000,40.100000,162.800000,2.000000,80.000000,1423.870000,3515.000000,1115.500000

In [76]:
final[['Age']].describe()

               Age
count  9813.000000
mean     31.629573
std      24.397553
min       0.000000
25%      10.000000
50%      27.000000
75%      52.000000
max      80.000000

In [ ]:
#Mssing values imputation

In [78]:
#GlycoHemoglobin, Saggital Abdominal(median)
final['Haemoglobin'] = final['Haemoglobin'].fillna(final['Haemoglobin'].median())
final['SaggitalAbdominal'] = final['SaggitalAbdominal'].fillna(final['SaggitalAbdominal'].median())
final['ArmCircum'] = final['ArmCircum'].fillna(final['ArmCircum'].median())
final['GripStrength'] = final['GripStrength'].fillna(final['GripStrength'].median())
#Family Income -> use ffill to fill na
final['Family_income'] = final['Family_income'].fillna(method='ffill')

#Breat_fed -> fill to 1
final['Breast_fed'] = final['Breast_fed'].fillna(value = 1)

final['Age'] = final['Age'].fillna(final['Age'].mean())
final['Cholestrol'] = final['Cholestrol'].fillna(final['Cholestrol'].mean())
final['Total_sugar'] = final['Total_sugar'].fillna(final['Total_sugar'].mean())
final['Carbohydrate_intake'] = final['Carbohydrate_intake'].fillna(final['Carbohydrate_intake'].mean())

In [79]:
final.describe()

,UID,Gender,Family_income,Haemoglobin,ArmCircum,SaggitalAbdominal,GripStrength,Breast_fed,Age,Carbohydrate_intake,Cholestrol,Total_sugar
count,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.000000,9813.00000
mean,78644.559971,1.507694,2.246474,5.564201,28.528248,21.004545,62.455233,1.868949,31.629573,242.737141,262.368655,109.30264
std,2938.592266,0.499966,1.630113,0.834491,7.753571,4.261142,22.228196,0.337473,24.397553,115.575585,217.785913,68.38168
min,73557.000000,1.000000,0.000000,3.500000,10.400000,10.100000,8.000000,1.000000,0.000000,8.670000,0.000000,0.13000
25%,76092.000000,1.000000,0.870000,5.300000,23.200000,18.500000,50.300000,2.000000,10.000000,168.100000,119.000000,66.13000
50%,78643.000000,2.000000,1.710000,5.400000,29.300000,20.700000,60.300000,2.000000,27.000000,242.570000,230.000000,104.54000
75%,81191.000000,2.000000,3.580000,5.600000,33.800000,22.900000,73.300000,2.000000,52.000000,286.010000,316.000000,129.98000
max,83731.000000,2.000000,5.000000,17.500000,59.400000,40.100000,162.800000,2.000000,80.000000,1423.870000,3515.000000,1115.50000

In [54]:
#Creating the response variable
#According to Glycohemoglobin, 0-> Normal status 1-> High-risk diabetes 2-> Diabetic patient

In [80]:
final.loc[final['Haemoglobin'] < 6.0, 'Diabetes'] = 0
final.loc[(final['Haemoglobin'] >= 6.0) & (final['Haemoglobin'] <= 6.4), 'Diabetes'] = 1
final.loc[final['Haemoglobin'] >= 6.5, 'Diabetes'] = 2

In [81]:
final.head(10)

,UID,Gender,Family_income,Haemoglobin,ArmCircum,SaggitalAbdominal,GripStrength,Breast_fed,Age,Carbohydrate_intake,Cholestrol,Total_sugar,Diabetes
0,73557,1,0.84,13.9,35.3,20.6,55.2,2.0,69,239.590000,209.000000,176.47000,2.0
1,73558,1,1.78,9.1,34.7,24.4,61.5,2.0,54,423.780000,2584.000000,44.99000,2.0
2,73559,1,4.51,8.9,33.5,25.6,91.0,2.0,72,224.390000,88.000000,102.90000,2.0
3,73560,1,2.52,5.4,21.0,14.9,32.2,2.0,9,162.920000,187.000000,80.58000,0.0
4,73561,2,5.00,4.9,25.2,20.7,30.9,2.0,73,178.200000,41.000000,87.78000,0.0
5,73562,1,4.79,5.5,41.8,29.1,53.1,2.0,56,189.590000,534.000000,81.75000,0.0
6,73563,1,5.00,5.4,14.9,20.7,60.3,1.0,0,242.737141,262.368655,109.30264,0.0
7,73564,2,5.00,5.5,38.0,26.7,45.9,2.0,61,300.160000,152.000000,128.23000,0.0
8,73566,2,0.48,5.4,29.0,19.9,38.8,2.0,56,226.320000,39.000000,85.92000,0.0
9,73567,1,1.20,5.2,27.5,20.0,43.5,2.0,65,216.590000,81.000000,98.01000,0.0